body {
  font-family: Arial;
  text-align: center;
  background: #f5f7fa;
}

textarea {
  width: 80%;
  height: 120px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

#output {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  border-radius: 5px;
}
